<form action="/players/{{player._id}}?_method=PUT" method="POST">
    <div>
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" value="{{player.firstName}}">
    </div>
    <div>
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" value="{{player.lastName}}">
    </div>
    <div>
        <label for="gamertag">Gamertag</label>
        <input type="text" name="gamertag" value="{{player.gamertag}}">
    </div>
    <div>
        <label for="img">Img Link</label>
        <input type="text" name="img" value="{{player.img}}">
    </div>
    <div>
        <label for="Twitter">Twitter</label>
        <input type="text" name="twitterHandle" value="{{player.twitterHandle}}">
    </div> 

     <input type="submit" value="Update">
</form>