<div>
    <h1>{{player.firstName}} "{{player.gamertag}}" {{player.lastName}}</h1>
    <img src="{{player.img}}">
    <p>Follow me at <a href="{{player.twitter}}"></a></p>
</div>

<div>
<a href="/players/{{player._id}}/edit">Edit Player</a>
</div>
<div>
<a href="/players/{{player.id}}/delete">Delete</a>
</div>


<h3>Team:</h3>
{{#each player.characters}}
<div>
    {{this.name}}
</div>
<div>
    <img src="{{this.img}}" alt="{{this.name}}">
</div>
</div>
{{/each}}

<div>
<a href="/players/{{player._id}}/characters/new">Add Team</a>
</div>
<div>
<a href="/players/{{player._id}}/characters/{{player.characters.0._id}}&{{player.characters.1._id}}&{{player.characters.2._id}}/edit">Edit Team</a>
</div>
<div>
<a href="/players/{{player._id}}/characters/{{player.characters.0._id}}&{{player.characters.1._id}}&{{player.characters.2._id}}/delete">Delete Team</a>
</div>

<div>
<a href="/players/">Return to List</a>
</div>