<div>
    <h1>{{player.firstName}} "{{player.gamertag}}" {{player.lastName}}</h1>
    <img class="z-depth-5 responsive-img" src="{{player.img}}" id="profilePic">
    <p>Follow me at <a href="http://twitter.com/{{player.twitterHandle}}">Twitter</a></p>
</div>

<div>
<a class="btn waves-effect waves-teal hoverable" href="/players/{{player._id}}/edit">Edit Player</a>

</div>
<div>
<a href="/players/{{player.id}}/delete">Delete</a>
</div>


<h3>Team:</h3>
{{#each player.characters}}
<div>
    {{this.name}}
</div>
<div>
    <img class="z-depth-5" src="{{this.img}}" alt="{{this.name}}">
</div>
</div>
{{/each}}

<div>
<a href="/players/{{player._id}}/characters/new">Add Team</a>
</div>
<div>
<a href="/players/{{player._id}}/characters/{{player.characters.0._id}}&{{player.characters.1._id}}&{{player.characters.2._id}}/edit">Edit Team</a>
</div>
<div>
<a href="/players/{{player._id}}/characters/{{player.characters.0._id}}&{{player.characters.1._id}}&{{player.characters.2._id}}/delete">Delete Team</a>
</div>

<div>
<a href="/players/">Return to List</a>
</div>